html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(#b3ffab, #67fffc);
}

a {
  color: white;
}

.nav-link a {
  height: 42px;
  padding: 10px;
  display: block;
}

.nav-link a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
  border-left: #fff 3px solid;
}

#header {
  height: 50px;
  display: flex;
  align-items: center;
  background: #000;
  color: #bbbbbb;
}

#headerContent {
  margin-left: 10px;
}

#page {
  display: flex;
  height: calc( 100vh - 50px);
  /* calculate the height. Header is 30px */
}

#sideBar {
  width: 230px;
  background: #2D3140;
}

#content {
  background: #F2F7FA;
  flex: 1 0 auto;
    /* padding: 20px 30px; */
  /* enable grow, disable shrink */
}

/* quotes ui */
.quote-stats {
  background: white;
  border: 1px solid lightgray;
}